.user-repos {
	width: 75%;
}
.user-repos__list {
	position: relative;
	margin: 20px;
	padding: 20px;
	padding-top: 30px;
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
	border-radius: 8px;
	box-shadow: 0 0 15px black;
	list-style: none;
}

.user-repos__form {
	text-align: center;
}

.user-repos__input {
	margin: 0 5px;
	padding: 5px;
	border-radius: 8px;
	border: 1px solid black;
}

.user-repos__item:not(:last-child) {
	margin-bottom: 8px;
}

.user-repos__name {
	color: var(--color-white);
	margin-right: 10px;
}

.user-repos__star {
	color: goldenrod;
}

.user-repos__description {
	color: rgb(166, 163, 163);
	font-size: 13px;
}

.user-repos__info-btn {
	padding: 3px 6px;
	margin-right: 8px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s;
	border: none;
}

.user-repos__info-btn:hover {
	color: var(--color-white);
	background-color: var(--color-hover);
}

.user-repos__close-btn {
	padding: 20px;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
	cursor: pointer;
}

.user-repos__close-ico {
	transition: all 0.3s;
	color: var(--color-white);
	font-size: 18px;
}

.user-repos__close-btn:hover > .user-repos__close-ico {
	transform: scale(1.2);
	color: var(--color-hover);
}

.user-repos__info {
	color: var(--color-white);
	text-align: center;
}
