.repo-details {
	width: 75%;
	position: relative;
	margin: 20px;
	margin-top: 47px;
	padding: 20px;
	background-color: #485461;
	background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
	border-radius: 8px;
	box-shadow: 0 0 15px black;
	list-style: none;
}

.repo-details__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.repo-details__name {
	color: var(--color-white);
}
.repo-details__link {
	text-decoration: none;
	color: var(--color-white);
	font-weight: bold;
}

.repo-details__link:hover {
	text-decoration: underline;
}

.repo-details__btn {
	transition: all 0.3s;
	border: none;
	cursor: pointer;
	color: var(--color-white);
}

.repo-details__ico {
	font-size: 18px;
	padding: 20px;
	position: absolute;
	transition: all 0.3s;
	top: 0;
	right: 0;
}

.repo-details__btn:hover > .repo-details__ico {
	transform: scale(1.2);
	color: var(--color-hover);
}

/* markdown */
.repo-details__readme {
	max-width: 100%;
	color: whitesmoke;
}

.repo-details__readme ul {
	padding-left: 20px;
}

.repo-details__readme ul, ol {
	padding-left: 20px;
}

.repo-details__readme a {
	text-decoration: none;
	color: rgb(214, 104, 97);
	cursor: pointer;
}

.repo-details__readme a:hover {
	text-decoration: underline;
}
