.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	color: var(--color-white);
	background-color: var(--color-dark);
}

.footer__ico {
	font-size: 18px;
	margin: 7px;
	color: var(--color-white);
	transition: color 0.3s;
}

.footer__ico:hover {
	color: var(--color-hover);
}
